.online{
  color: green;
}

.offline{
  color: red;
}

a {
  color: inherit;
  text-decoration: none;
}


body {
  background: #9CECFB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container {
  width: 600px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

h1{
  padding: 10px 20px;
  margin: 0;
  background: #2980b9;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

li {
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.status {
  text-align: right;
  margin-left: 30px;
}

button {
  background: none;
  border: none;
}
